

body{
	width: 770px;
	font-family: Arial;
	color: black;
	font-size: 1.5em;

} 

a {

	color: blue;

}

a:hover {

	color: red;

}

a:visited {

	font-family: Verdana;
	color: blue;

}

table a {

	color:green;

}

p {

	padding-top: 0.5em;

}

.borde{

	border-style: solid;
	
}

.menu1{

	padding: 0.3em;
	margin-bottom: 0.7em;
	
}

.menunavegacion{

	color: black; 

}

.menunavegacion:hover{

	background-color: red; 

}	

.ladoizq{
	
	width: 200px;
	height: 501px;
	float: left;
	
}

.centro{
	
	width: 330px;
	height: 501px;
	float: left;
	
}

#imgcentral{

	width: 330px;
	
}

.ladoder{
	
	width: 200px;
	height: 501px;
	float: left;
	
}

.cabecera{

	height: 100px;
	width: 770px;
	background-color: #9c9c9c;
	background-image: url("./cabecera.jpg");

}

#busqueda{
	
	margin-left: 70px;
	
}

.foot{

	margin-top: 506px;
	height: 100px;
	width: 770px;
	
}