#formulario{
  margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 5%;
}

.btnsearch{

  position: absolute;
  background: transparent;
  border: none;
  margin-inline: -300px;
  color: white;
/* -webkit-margin-inline-start: -40px;
  -webkit-margin-block-start: -65px;   para chrome*/ 


}

.iconox {

  margin-left: 240px;
  margin-block-start: -65px;
  color: white;
}

.campos{
    width: 70%;
}
	
.inp::placeholder{ 
	color: #666666; 
}

form label{
	cursor: pointer;
	color: black;
	font-size: 140%;
}

.correo, .password {
	cursor: pointer;
	color: black;
	font-size: 140%;
}

#category{
	display: block;
}

.categoria select{
  background-color: #c4a381;
  background-image: url(pictures/flecha.png);
  color: white;
  padding: 9px;
  margin-top: 6px;
  width: 250px;
  border-radius:5px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.categoria select:hover{
	cursor: pointer; 
}

#formulario fieldset{
	padding-left: 50px;
	border-radius:20px;
	border:6px groove #c4a381;
}

#añadir{
	font-size: 140%;
}

#info{
	float: right;
	margin-right: 170px;
	margin-top: 15px;
}

#btn{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #c4a381;
    border-radius: 6px;
    border: 2px solid #888888;
  }

#btn:hover{
    color: #888888;
    background-color: #ffffff;
 }

 #register{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #c4a381;
    border-radius: 6px;
    border: 2px solid #888888;
  }
#register:hover{
    color: #888888;
    background-color: #ffffff;
 }
 
 #llogin{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #c4a381;
    border-radius: 6px;
    border: 2px solid #888888;
  }
#llogin:hover{
    color: #888888;
    background-color: #ffffff;
 }
 
 #login{
  /*margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;*/
}

#login fieldset{
  margin: auto;
  width: 40%;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
  border:6px groove #c4a381;
}

#f {
  background-color: #c4a381;
}


h1 {
    color:#fff;
    position: relative;
    background: rgba(0,0,19,0.6);
}

header{
    background-color: solid;
    background-repeat: repeat;
    background-image: url("https://www.abc.es/media/cultura/2019/01/18/shutterstock_437994868-kKRB--620x349@abc.jpg");
}

#information{

  color:black;

}