/***********************************INDEX**********************************/

#opciones{
	width: 100%;
}

#main-header{
	margin-top: 0;
	/*Color*/
}

#titulo{
	text-align: center;
	font-size: 50px;
	max-width: 250px;
	white-space: nowrap;
}

#encabezado{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding-top: 0;
	padding-left: 0;
}

#izq{
	width: 50%;
	align: "center";
	
}

#der{
	width: 50%;
	float: right;
}

/**********************************LOGIN*****************************************/

#btn{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 2px solid #4CAF50;
}

#btn:hover{
  background-color: white; /* Green */
  color: #4CAF50;
  border: 2px solid #4CAF50;
}

.container{
	padding-top: 5px;
}

.input-login{
	border-radius: 8px;
	padding: 6px 6px;
}

#remember{
	padding-bottom: 20px;
	padding-left: 110px;
	padding-top: 60px;
}